<!DOCTYPE html>
<html lang="en">
<head>
<%- include('./partials/head'); %>
</head>
<body>
<%- include('./partials/header'); %>

<main id="home">
    <h1>User</h1>

    <div class="actions">
        <a href="/users" class="button">Back</a>
    </div>

    <form method="post" enctype="application/x-www-form-urlencoded">
        <div class="form-group">
            <div class="label"><label for="id">ID</label></div>
            <div class="input"><input type="text" id="id" name="id" required value="<%= user.id %>"></div>
        </div>
        <div class="form-group">
            <div class="label"><label for="name">Name</label></div>
            <div class="input"><input type="text" id="name" name="name" required value="<%= user.name %>"></div>
        </div>
        <div class="form-group">
            <div class="label"><label for="login">Login</label></div>
            <div class="input"><input type="text" id="login" name="login" required value="<%= user.login %>"></div>
        </div>
        <div class="form-group">
            <div class="label"><label for="email">Email</label></div>
            <div class="input"><input type="email" id="email" name="email" required value="<%= user.email %>"></div>
        </div>
        <div class="form-group">
            <div class="label"><label for="token">Token</label></div>
            <div class="input"><input type="password" id="token" name="token" required value="<%= user.token %>"></div>
        </div>
        <div class="form-group">
            <button type="submit">Save</button>
        </div>
    </form>

    <form method="post" enctype="application/x-www-form-urlencoded" id="delete">
        <input type="hidden" name="_method" value="delete">
        <div class="form-group">
            <button type="submit">Delete</button>
        </div>
    </form>
    <script>
      (function(){
        const form = document.querySelector('form#delete');
        form.onsubmit = function(e) {
          if (!confirm('Are you sure?')) {
            e.preventDefault();
          }
        }
      })();
    </script>
</main>

</body>
</html>